#search {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: #fff;

    .search__inner {
        width: 100%;
        padding: 23px 40px 18px 240px;
        border-bottom: 1px solid #F7EFE5;

        label {
            display: none;
        }

        .search__input {
            width: 100%;
            padding: 10px;
            border-bottom: 3px solid #F7EFE5;
            color: #333;
            margin-left: 30px;

            &:focus {
                outline: none;
            }
        }
    }
}


@media (max-width: 800px) {
    .search__inner {
        padding-left: 35%;
    }
}